.input {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  &--short {
    @extend .input;
    grid-column: 1 / span;
  }

  &--long {
    @extend .input;
    grid-column: 1 / -1;
  }

  &--radio__container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &__label {
      color: #000;
      font-size: 1.45rem;
      margin: 0;
      letter-spacing: initial;

      &--hidden {
        @extend .input--radio__container__label;
        color: transparent;
      }

      &--no-hidden {
        @extend .input--radio__container__label;
      }
    }

    &__input {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      border: 1.9px solid #cfcfcf;
      border-radius: var(--border-radius);
      padding: 1.2rem 1.8rem;
      cursor: pointer;

      &--selected {
        @extend .input--radio__container__input;
        border: 1.9px solid var(--color-primary-orange);
      }

      &--no-selected {
        @extend .input--radio__container__input;
      }

      &__outer-circle {
        border-radius: 100%;
        border: 1.9px solid #cfcfcf;
        height: 2rem;
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &--selected {
          @extend .input--radio__container__input__outer-circle;
          div {
            background-color: var(--color-primary-orange);
            border-radius: 100%;
            height: 1rem;
            width: 1rem;
          }
        }

        &--no-selected {
          @extend .input--radio__container__input__outer-circle;
        }
      }

      h5 {
        font-size: 1.6rem;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  &__labels {
    display: flex;
    justify-content: space-between;

    &__label {
      font-size: 1.45rem;
      font-weight: 600;

      &--error {
        @extend .input__labels__label;
        color: #cd2c2c;
      }
    }

    h6 {
      font-weight: 500;
      color: #cd2c2c;
      font-size: 1.2rem;
    }
  }

  &__input {
    border: 1.9px solid #cfcfcf;
    border-radius: var(--border-radius);
    font-size: 1.6rem;
    padding: 1.2rem 1.8rem;
    font-family: inherit;
    font-weight: 500;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &[type='number'] {
      -moz-appearance: textfield;
    }

    &:focus {
      outline: none;
      border: 1.9px solid var(--color-primary-orange);
    }

    &::placeholder {
      color: #a8a8a8;
    }

    &--error {
      @extend .input__input;
      border: 2px solid #cd2c2c;

      &:focus {
        outline: none;
        border: 2px solid #cd2c2c;
      }
    }
  }
}
