@use './../../shared' as s;

.checkout-content {
  @include s.containerPadding;
  margin-top: 5rem;
  margin-bottom: 6.5rem;
  display: flex;
  gap: 2.5rem;

  @media screen and (max-width: 1100px) {
    padding: 2.5rem 5rem;
  }

  @media screen and (max-width: 1000px) {
    flex-direction: column;
  }

  @media screen and (max-width: 439px) {
    padding: 2.5rem 2rem;
  }

  & > div {
    background-color: var(--color-primary-white);
    border-radius: var(--border-radius);
    @media screen and (max-width: 1000px) {
      width: 100%;
    }
  }

  &__left {
    padding: 4rem 3rem;
    width: 68%;

    h2 {
      font-size: 3.2rem;
      margin-bottom: 4rem;
    }

    &__forms {
      display: flex;
      flex-direction: column;
      gap: 5rem;
    }
  }

  &__right {
    padding: 4rem 3rem;
    flex: 1;
    align-self: flex-start;

    &__title {
      font-size: 1.8rem;
      letter-spacing: 1.4px;
      font-weight: 600;
      margin-bottom: 3.5rem;
    }

    &__cart-items {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 4rem;
      max-height: 25rem;
      overflow-y: auto;
    }

    &__totals {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
    }
  }
}

.delivery-text {
  display: flex;
  grid-column: 1 / -1;
  gap: 3rem;

  img {
    width: 10rem;
  }

  p {
    @include s.paragraph(rgba(0, 0, 0, 0.5));
  }
}
