.button {
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: 500;
  cursor: pointer;
  padding: 1.5rem 2.5rem;
  border: none;

  &--orange {
    @extend .button;
    background-color: var(--color-primary-orange);
    color: var(--primary-color-white);
    color: var(--color-primary-white);
    &:hover {
      background-color: var(--color-secondary-orange);
    }
  }
  &--white {
    @extend .button;
    background-color: var(--color-primary-white);
    color: var(--primary-color-black);
    border: 1.5px solid var(--color-primary-black);
    &:hover {
      background-color: var(--color-primary-black);
      color: var(--color-primary-white);
    }
  }

  &--black {
    @extend .button;
    background-color: var(--color-primary-black);
    color: var(--color-primary-white);
    &:hover {
      background-color: #4c4c4c;
    }
  }
}
