@use './../../shared' as s;

@mixin productTextBox {
  &__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h5 {
      font-size: 2.8rem;
      letter-spacing: 3px;
    }
  }
}

@mixin productTextPosition {
  display: flex;
  align-items: center;
  padding-left: 8rem;
}

.products-grid {
  @include s.containerPadding;
  margin-bottom: 5rem;
  height: 120rem;
  display: grid;
  grid-template-rows: 40% 1fr 25%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 3rem;

  & > div {
    border-radius: var(--border-radius);
  }

  &__product {
    &--speaker {
      &-1 {
        background-color: var(--color-primary-orange);
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        gap: 10rem;
        overflow: hidden;

        img {
          transform: translateY(1.5rem);
          align-self: flex-end;
          width: 30rem;
          height: 80%;
        }

        &__text {
          width: 30%;
          align-self: center;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;

          h4 {
            color: var(--color-primary-white);
            font-size: 5.5rem;
            line-height: 1;
            font-weight: 600;

            span {
              display: block;
            }
          }

          p {
            color: rgba(255, 255, 255, 0.753);
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
            line-height: 1.5;
          }
        }
      }
      &-2 {
        @include productTextPosition;
        background-image: url('./speaker-2.jpg');
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        background-size: cover;
        @include productTextBox;
      }
    }

    &--earphones {
      &-image {
        background-image: url('./earphones.jpg');
        grid-column: 1 / 2;
        grid-row: 3 / -1;
        background-size: cover;
        background-position: center;
      }

      &-cta {
        @include productTextPosition;
        background-color: var(--color-primary-gray);
        @include productTextBox;
      }
    }
  }
}
