@use './../../shared' as s;

.products-category {
  margin-bottom: 5rem;
  @include s.containerPadding;
  display: flex;
  justify-content: space-between;
  gap: 5rem;

  @media screen and (max-width: 1200px) {
    gap: 1.5rem;
  }

  @media screen and (max-width: 640px) {
    flex-direction: column;
  }
}
