@use './../../shared' as s;

.about {
  @include s.containerPadding;
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  margin-bottom: 5rem;

  @media screen and (max-width: 1100px) {
    gap: 5rem;
  }

  @media screen and (max-width: 790px) {
    flex-direction: column-reverse;
    gap: 3rem;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 790px) {
      text-align: center;
    }
    &__text {
      h4 {
        text-transform: uppercase;
        font-size: 4rem;
        margin-bottom: 2rem;

        span {
          color: var(--color-primary-orange);
        }
      }
      p {
        font-size: 1.6rem;
        line-height: 1.55;
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__image {
    flex: 1;
    overflow: hidden;
    border-radius: var(--border-radius);
    display: flex;

    img {
      width: 100%;
    }
  }
}
