@use './../../shared' as s;

.header {
  @include s.containerPadding;
  background-color: var(--color-primary-black);
  background-color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #97979734;

  &__logo {
    @media screen and (max-width: 820px) {
      order: 2;
    }

    img {
      cursor: pointer;

      @media screen and (max-width: 1100px) {
        height: 2rem;
      }

      @media screen and (max-width: 300px) {
        height: 1.8rem;
      }
    }
  }

  & > div {
    flex: 1;
  }

  &__hamburger {
    order: 1;

    @media screen and (max-width: 820px) {
      flex-grow: 0 !important;
      margin-right: 3.5rem;
    }

    @media screen and (max-width: 440px) {
      flex: 1 !important;
      margin-right: 0;
    }

    img {
      @media screen and (max-width: 300px) {
        height: 1.3rem;
      }
    }
  }

  &__cart-icon {
    display: flex;
    justify-content: flex-end;
    order: 3;

    img {
      @media screen and (max-width: 300px) {
        height: 1.8rem;
      }
    }
  }
}

.burger-menu {
  background-color: #191919;
}

.head {
  .close {
    span {
      svg {
        color: var(--color-primary-white);
      }
    }
  }
}

.menu {
  background-color: transparent;
}

.bm-item {
  @include s.link;
}
