@use './../../shared' as s;

.footer {
  @include s.containerPadding;
  background-color: var(--color-primary-black);
  display: flex;
  gap: 10rem;

  @media screen and (max-width: 1000px) {
    gap: 5rem;
  }

  @media screen and (max-width: 655px) {
    flex-direction: column;
    gap: 2rem;
  }

  & > div {
    flex: 1;
    margin-top: 1rem;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    line-height: 1.55;

    @media screen and (max-width: 655px) {
      align-items: center;
      text-align: center;
    }

    img {
      width: 11rem;
    }

    h6 {
      font-size: inherit;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and (max-width: 850px) {
      flex: 0 !important;
      justify-content: flex-end;
    }

    @media screen and (max-width: 655px) {
      align-items: center;
    }

    &__social-media {
      margin-top: 5rem;
      display: flex;
      gap: 2rem;
      @media screen and (max-width: 850px) {
        margin-top: 0;
      }

      img {
        cursor: pointer;
      }
    }
  }
}
