@use './../../shared' as s;

.product-item {
  display: flex;
  gap: 8rem;

  @media screen and (max-width: 1090px) {
    gap: 4rem;
  }

  &--right {
    @extend .product-item;
    flex-direction: row;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  &--left {
    @extend .product-item;
    flex-direction: row-reverse;

    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
  }

  &__image {
    border-radius: var(--border-radius);
    overflow: hidden;
    max-width: 50rem;

    img {
      width: 100%;
    }

    @media screen and (max-width: 800px) {
      height: 30rem;
      max-width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  &__content {
    display: flex;
    align-items: center;

    @media screen and (max-width: 800px) {
      text-align: center;
    }

    &__text {
      &__label {
        @include s.newProductLabel(var(--color-primary-orange));
      }

      &__name {
        font-size: 4rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 1.5rem;

        @media screen and (max-width: 360px) {
          font-size: 3rem;
          margin-bottom: 1rem;
        }

        span {
          display: block;
        }
      }

      &__description {
        @include s.paragraph(rgba(0, 0, 0, 0.5));
        margin-bottom: 2rem;
      }

      &__price {
        margin-bottom: 3rem;
        font-size: 2rem;
      }

      &__buttons {
        gap: 2rem;
        display: flex;
      }
    }
  }
}

@include s.toastStyles;
