@use './../../shared' as s;

.product-item {
  display: flex;
  gap: 8rem;

  &--right {
    @extend .product-item;
    flex-direction: row;
  }

  &--left {
    @extend .product-item;
    flex-direction: row-reverse;
  }

  img {
    width: 50rem;
    border-radius: var(--border-radius);
  }

  &__content {
    display: flex;
    align-items: center;

    &__text {
      &__label {
        @include s.newProductLabel(var(--color-primary-orange));
      }

      &__name {
        font-size: 4rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 1.5rem;

        span {
          display: block;
        }
      }

      &__description {
        @include s.paragraph(rgba(0, 0, 0, 0.5));
        margin-bottom: 2rem;
      }

      &__price {
        margin-bottom: 3rem;
        font-size: 2rem;
      }

      &__buttons {
        gap: 2rem;
        display: flex;
      }
    }
  }
}
