@mixin containerPadding {
  padding: 2.5rem 10rem;

  @media screen and (max-width: 940px) {
    padding: 2.5rem 5rem;
  }

  @media screen and (max-width: 750px) {
    padding: 2.5rem 4rem;
  }

  @media screen and (max-width: 310px) {
    padding: 2.5rem 2rem;
  }
}

@mixin link {
  color: var(--color-primary-white);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 600;
}

@mixin newProductLabel($color) {
  color: $color;
  font-weight: 300;
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
}

@mixin paragraph($color) {
  color: $color;
  font-size: 1.5rem;
  line-height: 1.5;
}

@mixin toastStyles {
  .toastProgress {
    background: var(--color-primary-orange) !important;
  }

  .toastBody {
    @include paragraph(rgba(0, 0, 0, 0.5));
    font-size: 1.35rem;
  }
}
